unset SHLVL

alias .='cd .'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'
alias ........='cd ../../../../../../..'
alias /='cd /'
alias cp='cp -r'
alias rm='rm -rf'
alias ls='ls -FA --color=auto --group-directories-first'
alias du="du -sbx --block-size=\'1"
alias df='df /'
alias em='emerge'
alias emv='emerge -v1 -k n'
alias ll="/bin/ls -FA --color=auto --group-directories-first -l --time-style='+%F %T' --block-size=\'1"
alias diff='diff --color=auto -u --palette=rs=0:hd=97:ad=92:de=91:ln=96'
alias git-commit='git commit -a --allow-empty-message -m ""'
alias e='setsid $EDITOR'
alias feh='feh --force-aliasing'
alias A='ACCEPT_KEYWORDS=~amd64'

alias /w='cd /var/spool/web'
alias /g='cd /var/db/repos/gentoo'
alias /h='cd /home'
alias /k='cd $GOPATH/src/github.com/kaspanet/kaspad'
alias /kc='cd $GOPATH/src/github.com/cbytensky/kaspad'
alias /kns='cd $GOPATH/src/github.com/someone235/katnip'
alias /kn='cd $GOPATH/src/github.com/cbytensky/katnip'
alias /l='cd /usr/local'
alias /p='cd /etc/portage'
alias /t='cd /var/tmp'
alias /y='cd /var/spool/youtube'

alias git-g='git --git-dir=/usr/local/git/gentoo-overlay.git --work-tree=/var/db/repos/c'
alias git-d='git --git-dir=/usr/local/git/dotfiles.git --work-tree=/'

lwd() {
	[ -f /tmp/lwd ] && cd `cat /tmp/lwd`
}

preexec() {
	LASTTIMESTAMP=$TIMESTAMP
	echo -ne "\e[0m\e[K"
}

lasterr() {
	E=$?
	stty sane
	[ $E -ne 0 ] && echo -ne "$E\x20"
}

elapsed() {
	T=$((($TIMESTAMP-${LASTTIMESTAMP:-$TIMESTAMP})/100))
	if [ $T -ge 100 ]; then
		aplay /res/done.wav &>/dev/null &
	fi
	if [ $T -ge 10 ]; then
		F=".$(($T%10))"
		T=$(($T/10))
		F="$(($T%60))$F"
		T=$(($T/60))
		if [ $T -ne 0 ]; then
			F="$(($T%60)):$F"
			T=$(($T/60))
			if [ $T -ne 0 ]; then
				F="$((T%24)):$F"
				T=$(($T/24))
				if [ $T -ne 0 ]; then
					F="${T}#$F"
				fi
			fi
		fi
		echo -ne "$F\x20"
	fi
}

branch() {
	C='\[\e[1;92m\]'
	B=`git rev-parse --abbrev-ref HEAD 2>/dev/null`
	if [ $? -eq 0 ]; then
		R=`git rev-parse --show-toplevel`
		echo $C$R'\[\e[21;96m\]/'$B$C${PWD#$R}
	else
		echo $C$PWD
	fi
}

#BG='48;5;239'
PSA='\[\e[1;100m\e[K'
PSB='\e[97m\]'
PS1=$PSA'\e[38;5;210m\]`lasterr`\[\e[93m\]`elapsed`\[\e[96m\]`branch` \['$PSB
PS2=$PSA$PSB
unset PSA PSB
eval $(dircolors -b /etc/DIR_COLORS)
export MANPAGER=manpager
export EDITOR='emacsclient -nc'
export GOPATH=/daglabs/go
export HOME=/var/home/root
export LESS='-R -M -F -#8'